
/* Add these styles to your CSS file */


/* Feed.css */

.container-fluid {
height: 100% !important;
}

.middle-column {
overflow-y: auto;
max-height: calc(100vh - 56px);
}
/* Hide the scrollbar for webkit browsers (Chrome, Safari, etc.) */
.middle-column::-webkit-scrollbar {
  width: 0;
}
.dark-bg{
  background-color: rgb(19, 19, 19);
}