.container-fluid {
  height: 100% !important;
}

.middle-column {
  overflow-y: auto;
  max-height: calc(100vh - 56px);
}

.middle-column::-webkit-scrollbar {
  width: 0;
}

.dark-bg {
  background-color: rgb(19, 19, 19);
}