.list-group-item {
  border: 0;
  background-color: transparent;
  padding: 15px;
}

.list-group .list-to-hover:hover {
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}

.darkmode-menu .list-group-item {
  color: white;
}

.darkmode-menu .list-to-hover:hover {
  background-color: rgb(68, 62, 62);
  border-radius: 5px;
  cursor: pointer;
}

.margintopmenu {
  margin-top: 2.5px;
}