.post-options-btn {
    display: none;
}

.to-hover:hover .post-options-btn {
    display: block;
}

.line-under-buttons {
    border-bottom: 1px solid #ccc;
    margin-top: 2px;
    margin-bottom: 4px;
}

.small-profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.darkmode .dropdown-menu {
    background-color: #2e2c2c;
}

.darkmode .three-dots {
    background-color: transparent !important;
}

.darkmode .card-header {
    border-bottom: 0.5px solid white;
}

.card-header {
    background-color: transparent;
}