.small-profile-img {
    width: 40px; /* Adjust the desired width */
    height: 40px; /* Adjust the desired height */
    border-radius: 50%;
}

/* .previewImage {
    max-width: 100%;
    height: 200px;
  } */
