.small-profile-img {
    width: 40px; /* Adjust the desired width */
    height: 40px; /* Adjust the desired height */
    border-radius: 50%;
}

/* .previewImage {
    max-width: 100%;
    height: 200px;
  } */
/* .dark-post-gen{
    background-color: #333;
    /* Example dark background color */
    /* color: #fff;
    border: 0.5px solid white; /* Add border style here */
/* } */

/* .dark-input {
    /* Add styles for the dark mode input */
    /* background-color: #444;
    color: #fff;
    border: 1px solid #666; */
/* } */

/* .dark-button {
    /* Add styles for the dark mode button */
    /* background-color: #444;
    color: #fff;
    border: 1px solid #666;
} */ 

/* Add styles for text-light class */
.darkmode .card{
    background-color: #1f1e1e;
    border: none;
    color: white;

}
.text-light {
    color: #fff;
}



.darkmode textarea {
    background-color: rgb(33, 33, 33) !important;
    color: white!important;
}
.darkmode textarea::placeholder {
    color: white;
}

.darkmode .uploade-image-form{
    background-color: rgb(33, 33, 33);
    color: white;
}
.darkmode Button{
    background-color: #2e2c2c;
    color: white;
    border: none;
}
.darkmode button:hover {
    background-color: rgb(68, 62, 62);

}

