.small-profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.darkmode .card {
    background-color: #1f1e1e;
    border: none;
    color: white;

}

.text-light {
    color: #fff;
}

.darkmode textarea {
    background-color: rgb(33, 33, 33) !important;
    color: white !important;
}

.darkmode textarea::placeholder {
    color: white;
}

.darkmode .uploade-image-form {
    background-color: rgb(33, 33, 33);
    color: white;
}

.darkmode Button {
    background-color: #2e2c2c;
    color: white;
    border: none;
}

.darkmode button:hover {
    background-color: rgb(68, 62, 62);

}