.navbar>.container {
    display: block !important;
}

nav {
    background-color: white;
    height: 55px;
}

.searchbar {
    width: 250px;
}

.searchbar-light {
    background-color: #f0f2f5;
}

.dark-mode-switch {
    font-size: 20px;

}

.dark-navbar {
    background-color: #2e2c2c;
}

.logout-logo-dark {
    color: #fff;
}

.searchbar-dark {
    background-color: rgb(173, 175, 175);
}