.remove-border {
    border: none;
}

.comment {
    padding: 5px;
}

.comment-details {
    flex-grow: 1;
    border-radius: 15px;
    padding: 10px;
}

.small-profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.comment-options-btn {
    display: none;
}

.comment:hover .comment-options-btn {
    display: block;
}

.light-mode-comment {
    background-color: #f0f2f5;
}

.darkmode .comment-details {
    background-color: rgb(77, 77, 77);
    color: white;
}