.custom-input {
    height: 50px; 
    font-size: 16px; 
    border-radius: 10px; 
}

.newaccount-btn{
    background-color: rgb(91, 192, 19);
}

.previewProfile {
    max-width: 100%;
    height: 200px;
  }